
<div>
	<%= form_tag do %>
		<table>
			<tr><td>
		<%= radio_button_tag(:user_type_student, "student") %> <%= label_tag(:user_type, "I am looking for a teacher.") %>
	</td><td>
		<%= radio_button_tag(:user_type_student, "teacher") %> <%= label_tag(:user_type, "I am a teacher.") %>
	</td></tr></table>
	<% end %>
	<%= link_to "Sign up with Facebook! (DOES NOT WORK YET)", "#" %>
	<%= link_to "Regular Signup for Demo Site. WILL NOT EXIST in REAL VERSION.", "#" %>
</div>