<h1>Student Sign Up (DEMO VERSION ONLY)</h1>
<h2>Sign up for the site will only be through Facebook once implemented.</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@student) do |f| %>
    	<%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

	<%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

      <%= link_to "Create my account", "show_demo", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>