<div class="row">
	<div class="box box-student span6">
		<div class="box-inner">
				<h2>Share your thoughts with us</h2>

				<div class="row">
				  <div class="span5">
				      <%= form_for @message, :url => demo_path  do |form| %> 
				        <%= form.error_messages :header_message => "Submission Failed", :message => nil %>       
				            <%= form.text_field :name, placeholder:"Your name"%><br />              
				            <%= form.text_field :email, placeholder:"Your email" %><br />                
				            <%= form.text_area :video_link , placeholder:"Your comments" %><br />                            
				          <%= form.submit "Submit Feedback", class:"btn btn-large"%>
				      <% end %>
				  </div>
				</div>
		</div>
	</div>
</div>