<div>
  <h2>Here are some awesome golf teachers near Milpitas, CA:</h2>
  <div class="row">
      <div class="span3">
          <div class="control-group">
            <label class="control-label" for="select01">Sort by:</label>
            <div class="controls">
              <select id="select01">
                <option>Reviews</option>                
                <option>Price</option>
              </select>
            </div>
          </div>
      </div>
</div>

<div class="box box-teacher">
  <div class="row">
        <div class="span2 box-profile-img">
          <%= link_to (image_tag "profile/john_profile.jpg", class:"img profile-img"), "teacher_profile_john" %>
          <h3>John Smith</h3>
          <p>San Jose, CA<br /><strong>From $50/hour</strong></p>       
        </div>
        <div class="span7">
          <div class="row">
            <div class="span4 box-profile-details">
              <h3>Learn from John</h3>
              <p>I'm John, a professional golf instructor with over 10 years of experience teaching beginners in the Bay Area.</p>        
              <button class="btn">punctual</button>
              <button class="btn">enthusiastic</button>
              <button class="btn">helpful</button>              
            </div>
            <div class="span3 box-profile-details">
              <h3>Watch John in Action</h3>
              <iframe width="210" height="150" src="http://www.youtube.com/embed/K8qZV79NN6k" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row">
            <div class="span7 box-profile-details" id="profile-lower">
              <p>Levels: Beginner, Intermediate, Advanced</p>
              <p><%= image_tag "icon_bgcheck.png" %> Background Check   <%= image_tag "icon_credit.png" %> Accepts Credit Cards</p>
            </div>
          </div>
        </div>
        <div class="span3 box-recommendations">
          <h3>Read John's 12 Reviews</h3>
            <p><%= image_tag "icon_positive.png" %> 10 positive<br /><%= image_tag "icon_neutral.png" %> 2 neutral<br /><%= image_tag "icon_negative.png" %> 0 negative</p>
            <p>3 of your friends recommend John</p>
              <%= image_tag "profile/wayne_profile_mini.jpg", class:"img profile-img" %>
              <%= image_tag "profile/mag_profile_mini.jpg", class:"img profile-img" %>              
              <%= image_tag "profile/michelle_profile_mini.jpg", class:"img profile-img" %> 

              <p>Hover over your friend to see what they say!</p>
                                
        </div>  
  </div>
</div>

<br />

<div class="box box-teacher">
   <div class="row">
        <div class="span2 box-profile-img">
          <%= link_to (image_tag "profile/sarah_profile.jpg", class:"img profile-img"), "teacher_profile_john" %>
          <h3>Sarah Brown</h3>
          <p>Sunnyvale, CA<br /><strong>From $45/hour</strong></p>       
        </div>
        <div class="span7">
          <div class="row"> 
            <div class="span4 box-profile-details">
              <h3>Learn from Sarah</h3>
              <p>I'm Sarah, I teach beginners.</p>        
              <button class="btn">passionate</button>              
              <button class="btn">helpful</button>
              <button class="btn">experienced</button>
            </div>
            <div class="span3 box-profile-details">
              <h3>Watch Sarah in Action</h3>              
              <%= image_tag "no_video.jpg" %>
            </div>
          </div>
          <div class="row">
            <div class="span7 box-profile-details" id="profile-lower">
              <p>Levels: Beginner</p>
              <p><%= image_tag "icon_bgcheck.png" %> Background Check   <%= image_tag "icon_credit.png" %> Accepts Credit Cards</p>                
            </div>
          </div>
        </div>
        <div class="span3 box-recommendations">
          <h3>Read Sarah's 5 Reviews</h3>
            <p><%= image_tag "icon_positive.png" %> 4 positive<br /> <%= image_tag "icon_neutral.png" %> 1 neutral<br /> <%= image_tag "icon_negative.png" %> 0 negative</p>
            <p>2 of your friends recommend Sarah</p>
              <%= image_tag "profile/nick_profile_mini.jpg", class:"img profile-img" %>
              <%= image_tag "profile/mag_profile_mini.jpg", class:"img profile-img" %>                      
              <p>Hover over your friend to see what they say!</p>
            
        </div>  
  </div>
</div>
<br />

<div class="box box-teacher">
   <div class="row">
        <div class="span2 box-profile-img">
          <%= link_to (image_tag "profile/jerry_profile.jpg", class:"img profile-img"), "teacher_profile_john" %>
          <h3>Jerry Larson</h3>
          <p>Saratoga, CA<br /><strong>From $60/hour</strong></p>       
        </div>
        <div class="span7">
          <div class="row"> 
            <div class="span4 box-profile-details">
              <h3>Learn from Jerry</h3>
              <p>I specialize in teaching intermediate and advanced level students in the Bay Area.</p>
              <button class="btn">friendly</button>              
              <button class="btn">enthusiastic</button>
              <button class="btn">experienced</button>
            </div>
            <div class="span3 box-profile-details">
              <h3>Watch Jerry in Actions</h3>
              <%= image_tag "no_video.jpg" %>
            </div>
          </div>
          <div class="row">
            <div class="span7 box-profile-details" id="profile-lower">
              <p>Levels: Intermediate, Advanced</p>                
              <p><%= image_tag "icon_bgcheck.png" %> Background Check   <%= image_tag "icon_credit.png" %> Accepts Credit Cards</p>                
            </div>
          </div>
        </div>
        <div class="span3 box-recommendations">
          <h3>Read Jerry's 2 Reviews</h3>
            <p><%= image_tag "icon_positive.png" %> 2 positive<br /> <%= image_tag "icon_neutral.png" %> 0 neutral <br /> <%= image_tag "icon_negative.png" %> 0 negative</p>
            <p>0 of your friends recommend Jerry.</p>                            
        </div>  
  </div>
</div>