
	<div class="navbar" id="profile_navbar">
  		<div class="navbar-inner">
    		<div class="container">
     	 		<ul class="nav">
  					<li class="active">
    					<%= link_to "Find a Teacher", "search" %>
  					</li>
  					<li>
  						<%= link_to "My Profile", "student_profile" %>
  					</li>
  					<li>
  						<a href="#">My Calendar</a>
  					</li>
  					<li>
  						<a href="#">My Payment Info</a>
  					</li>
				</ul>
    		</div>
  		</div>
	</div>	

	<div>
		<p>What do you want to learn?</p>	
 	 <%= text_field_tag :teacher_type, "Golf? Spanish? Piano? Salsa? Underwater basket weaving?..." %>
 	 <p> Where?</p>
 	 <%= text_field_tag :location, "Milpitas, CA" %>	
	 <%= link_to "Find a teacher", "results", class: "btn btn-large btn-primary" %>
  </div>
	