	<div class="navbar" id="profile_navbar">
  		<div class="navbar-inner">
    		<div class="container">
     	 		<ul class="nav">
  					<li>
    					<%= link_to "Find a Teacher", "search" %>
  					</li>
  					<li class="active">
  						<%= link_to "My Profile", "student_profile" %>
  					</li>
  					<li>
  						<%= link_to "My Calendar", "student_calendar" %>
  					</li>
  					<li>
  						<%= link_to "My Payment Info", "student_payment" %>  						
  					</li>
				</ul>
    		</div>
  		</div>
	</div>

	<div id="your_profile">
		<div class="row">
			<div class="span2" id="profile_pic">
				<%= image_tag "wayne_profile.jpg" %>         
			</div>
			<div class="span10" id="profile_info">
				<h1>Wayne Lin</h1>
				<h4>Milpitas, CA</h4>
				<%= link_to "Update your location", "#" %>
				<h3>Interests</h3>
				<p>Tennis, Golf, Knitting, Ethiopian Cooking, Underwater Basket Weaving</p>
			</div>
		</div>
	</div>			
	
	<div id="your_teachers">
		
			<h2>Your Teachers</h2>
			<div class="row">		
				<div class="span2">
					<%= link_to (image_tag "john_profile.jpg"), "teacher_profile_john" %>
					<h3>John Smith</h3>
					<p>Teaches: <strong>Golf</strong></p>
				</div>
				<div class="span10">
					<p>John is an excellent teacher, particularly well suited for beginners. He is patient, encouraging and most importantly very knowledgeable about the difficulties that new students face when starting to learn golf. He's excellent at explaining and showing to students the different techniques.<p>
					<p>The driving range he teaches at is a little further away from the city, but very well maintained and has great service. I strongly recommend John to any beginners trying to learn golf.
					</p>
					<%= link_to "Edit your review", "#", class: "btn btn-mini btn-primary" %>
				</div>
			</div>
			<div class="row">
				<div class="span2">
					<%= image_tag "laura_profile.jpg" %>
					<h3>Laura Rodriguez</h3	>
					<p>Teaches: <strong>Spanish</strong></p>
				</div>
				<div class="span10">
					<p>We strongly encourage you to write reviews for your teachers because:</p>
					<ul>
						<li>Reason A</li>
						<li>Reason B</li>
						<li>Reason C</li>
					</ul>
					<%= link_to "Write a review for Laura!", "#", class: "btn btn-mini btn-danger" %>
				</div>
			</div>
		</div>
	</div>