<% provide(:page_name, 'student_signup') %>
<div class="page-header">
			<h1>So, you're looking for a teacher?</h1>

		<!--
		<div class="row">	
			<div class="span6">
				<%= radio_button_tag(:user_type_student, "student") %> 
				I'm a <strong>student</strong>.<br />
				<em>I am looking for a teacher.</em>
			</div>
			<div class="span6">
				<%= radio_button_tag(:user_type_student, "teacher") %>
				I'm a <strong>teacher</strong>.<br />
				<em>I am looking for people to teach.</em>
			</div>
		</div>
	-->
	</div>

	<div id="facebook_signup">
		<div class="row">
			<div class="span12">
				<%= link_to image_tag("facebook_signup.png", alt: "Facebook Signup"), "demo/student_profile" %>
				<p>By clicking on the button above you agree to our <%= link_to "Terms of Service", "#" %> and <%= link_to "Privacy Policy", "#" %>.</p>
			</div>
		</div>
		<br />
		<div class="row" id="why_facebook">
			<div class="span12">
				<h3>Why do we use Facebook?</h3>				
				<ul>
					<li>Login securely with one click.</li>
					<li>Find awesome teachers through your friends.</li>					
					<li>Share & recommend teachers easily</li>
				</ul>
				<h3>Is my information safe?</h3>
				<p>Of course. Inaika will not sell any of your information to 3rd parties.</p>
			</div>			
		</div>
	</div>
	