  
    <div class="box box-teacher">

      <div class="row">
        <div class="span2 box-profile-img">
          <%= image_tag "profile/john_profile.jpg", class:"img profile-img" %>         
        </div>
        <div class="span10">
          <h2>John Smith's Calendar</h2>                  
          <button class="btn btn-success" style="width:150px">Private Class</button><br />
          <button class="btn btn-warning" style="width:150px">Shared Class</button><br />
          <button class="btn btn-danger" style="width:150px">Booked</button><br />
        </div>
      </div>

    <br />
    <hr />

    <div id="johns_calendar">
      <div class="row" align="center">

      </div>
      
      <div class="row">
        <%= render 'layouts/calendar_teacher' %>
      </div>
    </div>
  </div>

    <br />
    <div id="booking_info">
        <h3>You have selected a class with John Smith :</h3>
        <p>Type: <button class="btn btn-warning">Shared Class</button>
          <%= link_to "(How does this work?)", "shared_class_info" %></p>
        <p>Current Class Size: <strong>3/10 people</strong></p>
        <p>Minimum Required for class: <strong> 2 people</strong></p>  
        <p>Current Cost: <strong>$120 per person</strong></p>
        <p>- If 2 more people sign up, the cost will come down to: <strong>$90 per person</strong></p>
        <p>- If 7 more people sign up, the cost will come down to: <strong>$50 per person</strong></p>
        <p>Invite your friends! Share this link: <em>http://www.inaika.com/demo/johns_golf_class</em></p>
        <h3>Class Details</h3>
        <p>Date: July 4, 2012</p>
        <p>Time: 9am - 11pm </p>
        <p>Location: Farmington Driving Range. 2321 Towncrest Road, San Jose, CA 95035
          <%= link_to "(Show on map)", "#" %></p>
        </p>
    </div>
  
    <div id="booking_buttton">
      <%= link_to "Proceed to Payment", "payment", class: "btn btn-large btn-primary", style: "width: 200px" %>        
    </div>
  