<% provide(:page_name, 'main') %>

<audio id="player" src="/here_comes_the_fire.ogg" ></audio>
<br />
<br />  

<div onclick="next_slide()" class="slide" id="slide0">
  <%= image_tag("landing_page/hey_you.png") %>  
</div>
<div onclick="next_slide()" class="slide" id="slide1">
  <%= image_tag("landing_page/getting_ready.png") %>
</div>
<div onclick="next_slide()" class="slide" id="slide2">
  <%= image_tag("landing_page/change_the_way.png") %>   
</div>  
<div onclick="next_slide()" class="slide" id="slide3">
  <%= image_tag("landing_page/make_sure.png") %> 
</div>
<div onclick="next_slide()" class="slide" id="slide4">
  <%= image_tag("landing_page/little_like.png") %> 
</div>
<div onclick="next_slide()" class="slide" id="slide5">
  <%= image_tag("landing_page/thanks_btw.png") %> 
</div>
<div onclick="next_slide()" class="slide" id="slide6">
  <%= image_tag("landing_page/meantime.png") %> 
</div>
<div onclick="next_slide()" class="slide" id="slide7">
  <%= image_tag("landing_page/grab_camera.png") %>
</div>
<div class="slide" id="slide8">
  <%= link_to image_tag("landing_page/join_us.png"), "/revolution" %> 
</div>
