<% provide(:page_name, 'main') %>

<audio id="player" src="/here_comes_the_fire.ogg" ></audio>
            
      <!-- <h2>THE PASSION REVOLUTION</h2><br />-->

      <h4>Are you crazy about something?</h4>
        <p>Do you love sports? Do you play an instrument?<br />
        Do you have a passion so rare it would never even cross our minds?      

      <h4>Show it! Share it!</h4>
       <p>Send us a 2 minute video of you in action. Make us feel what you feel and send a shiver down our spines!
      </p>

      <h4>Be part of our film!</h4>
      <p>
        The best submissions will be put together by our professional producers in a short film about inspiring passionate people around the world. The film will be featured on the Inaika website as well as promoted in the media. Additionally, the 3 winners of the Inaika - Passion Revolution competition will be invited to a professional shooting (at our studios in London or Warsaw) and will be featured as the main protagonists of our film!
      </p>
      <p>
        <%= link_to "Click here for more information", "faq" %>
      </p>
      <p>
        SUBMISSION DEADLINE:  5 August 2012, 11:59pm GMT
      </p>



        <br />

      <%= form_for @message, :url => landing_page_path do |form| %> 
        <%= form.error_messages :header_message => "Submission Failed", :message => nil %>       
            <%= form.text_field :name, placeholder:"Your name"%><br />              
            <%= form.text_field :email, placeholder:"Your email" %><br />      
            <%= form.text_field :location, placeholder:"Your location (eg. London, UK)" %><br />  
            <%= form.text_field :video_link , placeholder:"Your video link" %><br />                  
                
          <p>By clicking "Submit" you agree to our <%= link_to "Terms & Conditions", "conditions" %>.</p>
          <br />
          <%= form.submit "Submit My Video!", class:"btn btn-large"%>
      <% end %>
      
<!--
      <div class="landing-social">
        <br />
        <br />  
        <h4>Spread the passion! Share your energy with your friends.</h4>
        <br />
        <div class="fb-like" data-href="http://www.facebook.com/inaikacom" data-send="true" data-width="400" data-show-faces="true" data-colorscheme="dark" data-font="tahoma"></div>
        <br />
        <br />

      </div>
      -->