
      <h2>THE PASSION REVOLUTION</h2>
      <p>Are you crazy about something? Do you love sports, play an instrument to the despair of your neighbours, sing in a shower or fanatically learn foreign languages? Or maybe your passion is so rare that it would never even cross our mind?</p>
      <p>Show it! Share it! Send us a 2 minute video of you in action. Make us feel what you feel and send a shiver down our spines.  </p>
      <p>The best submissions will be selected and put together by our professional producers in London & Warsaw in a short film about inspiring passionate people around the world. The film will be featured on the INAIKA website as well as promoted in media. Additionally, the 3 winners of the INAIKA - PASSION REVOLUTION competition will be invited to a professional shooting (at our studios in London or Warsaw) and will be featured as the main protagonists of the film.</p>
      <p><%= link_to "Click here for more info", "faq" %></p>
      <p>SUBMISSION DEADLINE:  5 August 2012, 11:59pm GMT<p>

        <br />

      <%= form_for @message, :url => landing_page_path do |form| %>
        <fieldset class="fields">
          <div class="field">            
            <%= form.text_field :name, placeholder:"Your name"%>
          </div>        

          <div class="field">            
            <%= form.text_field :email, placeholder:"Your email" %>
          </div>

          <div class="field">          
            <%= form.text_field :subject, placeholder:"Your location (eg. London, UK)" %>
          </div>
          
          <div class="field">            
            <%= form.text_field :body , placeholder:"Your video link" %>
          </div>
          <div class="field">            
        </fieldset>
        
        <fieldset class="actions">
          <p>By clicking "Submit" you agree to our <%= link_to "Terms & Conditions", "conditions" %>.</p>
          <%= form.submit "Submit My Video!", class:"btn btn-large"%>
        </fieldset>
      <% end %>

