<!DOCTYPE html>
<html>
<head>
  <title><%= full_title (yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
        	<div id="logo">
        		<%= link_to image_tag("inaika_logo_demo.png", alt: "Inaika Logo"), '/demo/welcome' %>
        	</div>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Sign Out", '/demo/end' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
	<footer class="footer">
    <div class="container">
	  <nav>
	    <ul>	      
        <li><%= link_to "Feedback", '/demo/feedback', class: "btn btn btn-danger"%></li>
	    </ul>
	  </nav>
  </div>
	</footer>
</body>
</html>
