<!DOCTYPE html>
<html>
<head>
  <title><%= full_title (yield(:title)) %></title>
  <%= stylesheet_link_tag    "demo", :media => "all" %>
  <%= javascript_include_tag "demo" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- facebook content -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=337043739706180";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>  

    <!-- header -->
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
        	<div id="logo">
        		<%= link_to image_tag("logos/inaika_demo.png", alt: "Inaika Logo"), '/demo/welcome' %>
        	</div>
          <nav>
            <ul class="nav pull-right">    
              <% if logged_in(yield(:page_name)) %>
                  <li><%= link_to "Sign Out", '/demo/end' %></li>                
              <% else %>
                  <li><%= link_to image_tag("facebook_login.jpg"), "#" %></li>                              
              <% end %>
              <div class="fb-like" data-href="http://www.facebook.com/inaikacom" data-send="false" data-width data-show-faces="false" data-layout="button_count" data-colorscheme="light" data-font="tahoma"></div>                    
              
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- main body -->
    <div class="container">
      <div class="content">
        <!-- inner navbar -->
          <% if logged_in(yield(:page_name)) %>
            <div class="navbar" id="profile_navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">                    
                    <li>
                      <%= link_to "My Profile", "student_profile" %>
                    </li>
                    <li>
                      <%= link_to "My Calendar", "student_calendar" %>
                    </li>
                    <li>
                      <%= link_to "My Account", "student_account" %>             
                    </li>
                </ul>
                </div>
              </div>
          </div>
          <% end %>

        <%= yield %>
      </div>
    </div>

    <!-- footer -->
	<footer class="footer">
      <div class="container">        
    	  <nav >
          <ul class="nav pull-right">	       
            <%= link_to "Feedback", '/demo/feedback', class: "btn btn-large btn-danger"%>	   
          </ul>
    	  </nav>
      </div>    
	</footer>

</body>
</html>