<!DOCTYPE html>
<html>
<head>
  <title>Inaika - The Passion Revolution. </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=337043739706180";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));        


var music_on = true;
function changeMySrc() {
    if (music_on) {
   
        music_on = false;
    } else {
        
        music_on = true;        
    }
}

  function aud_play_pause() {
      var myAudio = document.getElementById("player");
          if (myAudio.paused) {
            myAudio.play();
            document.getElementById("on-off").src="/assets/speaker_on.png";
               
          } else {
            myAudio.pause();
            document.getElementById("on-off").src="/assets/speaker_off.png";  
        }
    }

var current_slide = 0;
function next_slide() {
           var current = document.getElementById("slide"+current_slide);
           current_slide++;
           var next = document.getElementById("slide"+current_slide);    
           current.style.display = 'none';
           next.style.display = 'inline';
    }

  </script>

  <div class="landing-container">
    <div class="landing-content">
      <div class="landing-top">
 
      <a href="www.facebook.com/inaika"><div class="fb-like alignLeft" data-href="http://www.facebook.com/inaikacom" data-send="false" data-width="400" data-show-faces="false" data-layout data-colorscheme="dark" data-font="tahoma"></div></a>

      <% if is_main_page(yield(:page_name)) %>        
      <div class="audio alignRight">
          <button onclick="aud_play_pause()" style="border: 0; background: transparent"><%= image_tag "speaker_off.png", id:"on-off" %></button>               
      </div>    
      <% end %>      

        <br />
        <br />
        <br />
        <%= link_to image_tag("logos/inaika_logo4.png", id: "landing-logo"), "/" %>
        <br />
        
      </div>

      <hr />
      
      <div class="landing-main">        
        <%= yield %>
      </div>

      <hr class="landing"/>
    

      <div class="landing-copyright">

        <p class="alignLeft"><%= link_to "Contact Us", "contact", id: "contact_link" %></p>        
        <p class="alignRight">&copy; inaika.com 2012</p>
      </div>

    </div>
  </div>
</body>
</html>
