<!DOCTYPE html>
<html>
<head>
  <title><%= full_title (yield(:title)) %></title>
  <%= stylesheet_link_tag    "landing_page", :media => "all" %>
  <%= javascript_include_tag "landing_page" %>
  <%= csrf_meta_tags %>
</head>
<body>
        <%= yield %>
</body>
</html>
